
.p-concept{
    width: 100%;

    background-image: url(../images/bg/concept/concept-bg01_s.png);
    background-size: contain;
    background-repeat: no-repeat;
    @include mq(sp){
        background-position-y: 36px;
    }
    @include mq(tb){
        background-image: url(../images/bg/concept/concept-bg01.png);
        main{
            margin-bottom: auto;
            padding-bottom: 28vh;
        }
    }
    main{
        margin-bottom: 0;
        padding-bottom: 20vh;
        @include mq(tb){
            padding-bottom: 70vh;
        }
        @include mq(tb-pc600){
            padding-bottom: 70vh;
        }
        @include mq(tb-pc750){
            padding-bottom: 70vh;
        }
        @include mq(tb-pc950){
            padding-bottom: 80vh;
        }
        @include mq(tb-pc1000){
            padding-bottom: 55vh;
        }
        @include mq(tb-pc1100){
            padding-bottom: 48vh;
        }
        @include mq(tb-pc1400){
            padding-bottom: 60vh;
        }
        @include mq(tb-pc1600){
            padding-bottom: 65vh;
        }
        @include mq(tb-pc1850){
            padding-bottom: 50vh;
        }
    }



    .l-container{//main
        .l-contents{

            &.-img-bg{// 背景画像＋コンテンツ
                .imgBox{}
                .l-contentsBox{// コンテンツ要素
                    width: 100%;
                    position: absolute;
                    // ヘッダー
                    &.-concept-01{
                        width: 90%;
                        top: 49%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        @include mq(sp){
                            width: 99%;
                            top: 20%;
                            p{
                                &:nth-child(1){
                                    line-height: 1.3;
                                    margin-bottom: 3%;
                                }
                                &:nth-child(2){
                                    line-height: 1.7;
                                }
                            }
                        }
                        @include mq(tb){
                            top: 34%;
                            left: 7%;
                            width: auto;
                            transform: translateY(-50%);
                        }
                    }
                    // コンテンツ
                    &.-concept-02{
                        top: 35%;
                        // top: 15%;
                        left: 50%;
                        transform: translate(-50%, -4%);
                        width: 90%;

                        @include mq(tb){
                            top: 36%;
                            left: 48%;
                            transform: scale(.95) translate(-50%, -50%);

                        }
                        @include mq(tb-pc1000){
                            top: 39%;
                            left: 38%;
                            width: auto;
                        }
                        @include mq(sp){
                            .-mg-b{
                                display: block;
                                margin-bottom: 5vh;
                            }
                        }
                    }
                    //例えば tb+pc
                    &.-tatoeba{
                        width: auto;
                        top: 6.9%;
                        left: 5.5%;
                        @include mq(tb-pc600){
                            top: 1%;
                            left: 8%;
                        }
                        @include mq(tb-pc1000){
                            top: .5%;
                            left: 10%;
                        }
                        @include mq(tb-pc1600){
                            top: 0%;
                        }
                        @include mq(tb-pc1850){
                            top: -.5%;
                            left: 12.5%;
                        }
                    }
                    // Flowコンテンツ
                    &.-Frow-title{
                        top: 7.8%;
                        left: 35%;
                        @include mq(sp){
                            left: 50%;
                            transform: translateX(-50%);
                            width: 79%;
                        }
                        @include mq(tb){
                            top: 2.5%;
                            width: 40%;
                            left: 53%;
                        }
                        @include mq(tb-pc1000){
                            top: 1%;
                            left: 52%;
                            width: 31%;
                        }
                        @include mq(tb-pc1400){
                            width: 40%;
                        }
                        @include mq(tb-pc1600){
                            top: 0;
                            left: 60%;
                            width: inherit;
                        }
                        .-titleArea{// タイトル部分

                            @include mq(tb-pc1600){
                                width: 25%;
                            }
                            &.-p02{
                                @include mq(tb-pc1600){
                                    width: 30% !important;
                                }
                            }
                            .-text{
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                @include mq(tb-pc1600){
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                }
                                p{
                                    &:nth-child(2){
                                        @include mq(sp){
                                            // padding-left: 8%;
                                        }
                                    }
                                }
                            }
                        }
                        &.-p02{
                            top: 19.0%;
                            @include mq(tb){
                                top: 13.5%;
                                width: 40%;
                                left: 53%;
                            }
                            @include mq(tb-pc600){
                                top: 14%;
                                width: 45%;
                                left: 50%;
                            }
                            @include mq(tb-pc1000){
                                top: 14%;
                                left: 52%;
                                width: 40%;
                            }
                            @include mq(tb-pc1600){
                                top: 11.5%;
                                left: 60%;
                                width: inherit;
                            }
                            .-titleArea{// タイトル部分
                                @include mq(tb-pc1600){
                                    width: 25%;
                                }
                                .-text{
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    @include mq(tb-pc1600){
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                    }
                                    p{
                                        &:nth-child(2){
                                            @include mq(sp){
                                                // padding-left: 8%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.-p03{
                            top: 28.6%;
                            @include mq(tb){
                                width: 40%;
                                left: 53%;
                            }
                            @include mq(tb-pc600){
                                top: 25%;
                            }
                            @include mq(tb-pc1000){
                                top: 26%;
                                left: 52%;
                                width: 40%;
                            }
                            @include mq(tb-pc1600){
                                top: 21.5%;
                                left: 60%;
                                width: inherit;
                            }
                            &.-rental{
                                @include mq(sp){
                                    // left: 24%;
                                    // width: 72%;
                                }
                            }
                            .-titleArea{// タイトル部分
                                @include mq(tb-pc1600){
                                    width: 25%;
                                }
                                .-text{
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    @include mq(tb-pc1600){
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                    }
                                    p{
                                        &:nth-child(2){
                                            @include mq(sp){
                                                padding-left: 8%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.-p04{
                            top: 37.9%;
                            @include mq(tb){
                                width: 40%;
                                left: 53%;
                            }
                            @include mq(tb-pc600){
                                top: 34.5%;
                            }
                            @include mq(tb-pc1000){
                                top: 37%;
                                left: 52%;
                                width: 40%;
                            }
                            @include mq(tb-pc1600){
                                top:32.6%;
                                left: 60%;
                                width: inherit;
                            }
                            &.-shareOff{
                                @include mq(sp){
                                    // left: 22%;
                                    // width: 75%;
                                }
                            }
                            .-titleArea{// タイトル部分
                                @include mq(tb-pc1600){
                                    width: 25%;
                                }
                                .-text{
                                    top: 47%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    @include mq(tb-pc1600){
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                    }
                                    p{
                                        &:nth-child(2){
                                            @include mq(sp){
                                                padding-left: 8%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.-p05{
                            top: 75%;
                            @include mq(tb-sp){
                                top: 73%;
                                left: 50%;
                                transform: translateX(-50%);
                                width: 60%;
                            }
                            @include mq(sp){
                                top: 77%;
                                left: 49%;
                                width: 88%;
                            }
                            @include mq(tb-pc1000){
                                top: 75%;
                                left: 15%;
                                width: 40%;
                            }
                            @include mq(tb-pc1600){
                                top: 74%;
                                left: 15%;
                                width: inherit;
                            }
                            .-titleArea{// タイトル部分
                                @include mq(tb-pc1600){
                                    width: 25%;
                                }
                                .-text{
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    @include mq(tb-pc1600){
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                    }
                                    p{
                                        &:nth-child(2){
                                            @include mq(sp){
                                                // padding-left: 8%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.-Frow-content{
                        width: auto;
                        .contentsInner{
                            position: relative;
                            .title{
                                position: absolute;
                                top: -1%;
                                transform: translateY(-50%);
                                z-index: 10;
                                &.-current{
                                    width: 30vw;
                                    left: 5%;
                                    @include mq(tb){
                                        width: 15vw;
                                    }
                                    @include mq(tb-pc1000){
                                        width: 13vw;
                                    }
                                    @include mq(tb-pc1600){
                                        width: 8vw;
                                    }
                                }
                                &.-future{
                                    width: 30vw;
                                    left: 5%;
                                    @include mq(tb){
                                        width: 15vw;
                                    }
                                    @include mq(tb-pc1000){
                                        width: 13vw;
                                        left: -7%;
                                    }
                                    @include mq(tb-pc1600){
                                        width: 8vw;
                                        left: -1%;
                                    }

                                }
                                &.-next{
                                    width: 55vw;
                                    left: 5%;
                                    @include mq(tb){
                                        width: 17vw;
                                    }
                                    @include mq(tb-pc1000){
                                        width: 21vw;
                                    }
                                    @include mq(tb-pc1600){
                                        width:15vw;
                                        left: -1%;
                                    }
                                    &.-p02{
                                        width: 35vw;
                                        left: 5%;
                                        @include mq(tb-pc1600){
                                            width:15vw;
                                            left: -1%;
                                        }
                                    }
                                    &.-p03{
                                        width: 30vw;
                                        top: 60%;
                                        left: -24%;
                                    }
                                    &.-p04{
                                        width: 28vw;
                                        top: 60%;
                                        left: -40%;
                                    }
                                }
                            }
                            .pic{
                                // position: absolute;
                                // top: 0;
                                &.-current{
                                    width: 75vw;
                                    @include mq(tb){
                                        width: 43vw;
                                    }
                                    @include mq(tb-pc1000){
                                        width: 36vw;
                                        // width: 42vw;
                                    }
                                    @include mq(tb-pc1400){

                                    }
                                    @include mq(tb-pc1600){
                                        width: 24vw;
                                    }
                                }
                                &.-future{
                                    width: 76vw;
                                    @include mq(tb){
                                        width: 43vw;
                                    }
                                    @include mq(tb-pc1000){
                                        width: 37vw;
                                        // width: 42vw;
                                    }
                                    @include mq(tb-pc1600){
                                        width: 26vw;
                                    }
                                    &.-p02{
                                        width: 85vw;
                                        @include mq(tb){
                                            width: 43vw;
                                        }
                                        @include mq(tb-pc800){
                                            width: 40vw;
                                        }
                                        @include mq(tb-pc1000){
                                            width: 43vw;
                                        }
                                    }
                                    &.-p03{
                                        width: 70vw;
                                        @include mq(tb){
                                            width: 43vw;
                                        }
                                        @include mq(tb-pc800){
                                            width: 40vw;
                                        }
                                        @include mq(tb-pc1000){
                                            width: 43vw;
                                        }
                                    }
                                }
                                &.-next{
                                    width: 75vw;
                                    @include mq(tb){
                                        width: 43vw;
                                    }
                                    @include mq(tb-pc1000){
                                        width: 44vw;
                                        // width: 55vw;
                                    }
                                    @include mq(tb-pc1600){
                                        width: 33vw;
                                    }
                                    &.-p02{
                                        @include mq(sp){
                                            width: 75vw;
                                        }
                                    }
                                }

                            }
                            .text{
                                position: absolute;
                                left: 7%;
                                bottom: 0%;
                                @include mq(tb){
                                    bottom: 5%;
                                }
                                &.-v02{
                                    bottom: -7%;
                                    @include mq(tb){
                                        bottom: 5%;
                                    }
                                }
                                &.-current{
                                    @include mq(tb-pc1000){
                                        
                                    }
                                    &.-p02{
                                        bottom: -13%;
                                        @include mq(tb-pc1600){
                                            bottom: -6%;

                                        }
                                    }
                                }
                                &.-future{
                                    @include mq(tb-pc1000){
                                        
                                    }
                                }
                                &.-next{
                                    bottom: -3%;
                                    @include mq(tb){
                                        bottom: -1%;
                                    }
                                    &.-p02{
                                        bottom: -25%;
                                        @include mq(tb-pc1600){
                                            bottom: -14%;
                                        }
                                    }
                                    &.-p03{
                                        bottom: -18%;
                                        @include mq(tb-pc1600){
                                            bottom: -4%;
                                        }
                                    }
                                    &.-p04{
                                        bottom: -10%;
                                        @include mq(tb-pc1600){
                                            bottom: -14%;
                                        }
                                    }
                                }
                                &.-right{
                                    width: 87%;
                                }
                            }
                        }
                        &.-r{//右
                            top: 3%;
                            right: 15%;
                            @include mq(tb){
                                right: 3%;
                            }
                            @include mq(tb-pc600){
                                right: 4%;
                            }
                            @include mq(tb-pc1600){
                                right: 14%;
                            }
                        }
                        &.-l{//左
                            top: 3%;
                            // left: 13%;
                            @include mq(tb){
                                
                            }
                            @include mq(tb-pc600){
                                left: 5%;
                            }
                            @include mq(tb-pc1000){
                                left: 8%;
                            }
                            @include mq(tb-pc1600){
                                left: 13%;
                            }
                        }
                        &.-row1{
                            top: 9.5%;
                            @include mq(tb-pc600){
                                top: 5.2%;
                            }
                            @include mq(tb-pc1000){
                                top: 2.1%;
                            }
                            @include mq(tb-pc1600){
                                top: 1.5%;
                            }
                            @include mq(tb-pc1850){
                                top: 2%;
                            }
                        }
                        &.-row2{
                            top: 12.75%;
                            @include mq(tb){
                                top: 7.3%;
                            }
                            @include mq(tb-pc1000){
                                top: 5.8%;
                            }
                            @include mq(tb-pc1600){
                                top: 5%;
                            }
                        }
                        &.-row3{
                            top: 16.3%;
                            @include mq(tb){
                                top: 10.5%;
                            }
                            @include mq(tb-pc1000){
                                top: 9.3%;
                            }
                            @include mq(tb-pc1600){
                                top: 7.5%;
                            }
                        }
                        &.-row4{
                            top: 20.7%;
                            @include mq(tb){
                                top: 15.8%;
                            }
                            @include mq(tb-pc1000){
                                top: 15.5%;
                            }
                            @include mq(tb-pc1600){
                                top: 13%;
                            }
                        }
                        &.-row5{
                            top: 24%;
                            @include mq(sp){
                                left: 50%;
                                right: auto;
                                transform: translateX(-50%);
                            }
                            @include mq(tb){
                                top: 19.1%;
                            }
                            @include mq(tb-pc1000){
                                top: 19%;
                            }
                            @include mq(tb-pc1600){
                                top: 15.2%;
                            }
                        }
                        &.-row6{
                            top: 25.9%;
                            @include mq(tb){
                                top: 20.5%;
                            }
                            @include mq(tb-pc1000){
                                top: 20.9%;
                            }
                            @include mq(tb-pc1600){
                                top: 17.2%;
                            }
                        }
                        &.-row7{
                            top: 30.2%;
                            @include mq(tb){
                                top: 26.2%;
                            }
                            @include mq(tb-pc1000){
                                top: 27.9%;
                            }
                            @include mq(tb-pc1600){
                                top: 23.2%;
                            }
                        }
                        &.-row8{
                            top: 33.9%;
                            right: 0%;
                            @include mq(tb){
                                top: 29.1%;
                                right: 11%;
                            }
                            @include mq(tb-pc1000){
                                top: 31%;
                                right: 9%;
                            }
                            @include mq(tb-pc1600){
                                top: 26.2%;
                            }
                        }
                        &.-row9{
                            top: 35.45%;
                            @include mq(tb){
                                top: 31.4%;
                            }
                            @include mq(tb-pc1000){
                                top: 33.2%;
                            }
                            @include mq(tb-pc1600){
                                top: 28.5%;
                            }
                        }
                        &.-row10{
                            top: 39.55%;
                            @include mq(tb-pc600){
                                top: 36.3%;
                            }
                            @include mq(tb-pc1000){
                                top: 38.8%;
                            }
                            @include mq(tb-pc1600){
                                top: 34.5%;
                            }
                        }
                        &.-row11{
                            top: 43%;
                            right: -11% !important;
                            @include mq(tb){
                                top: 39.5%;
                                right: 6% !important;
                            }
                            @include mq(tb-pc600){
                                right: 3% !important;
                            }
                            @include mq(tb-pc1000){
                                top: 42.5%;
                                right: 4% !important;
                            }
                            @include mq(tb-pc1600){
                                top: 37.5%;
                                right: 13% !important;
                            }
                        }
                        &.-row12{
                            top: 44.8%;
                            @include mq(tb){
                                top: 41.5%;
                            }
                            @include mq(tb-pc1000){
                                top: 44.2%;
                            }
                            @include mq(tb-pc1600){
                                top: 39.3%;
                            }
                        }


                    }
                    &.-Story-content{
                        display: inline-block;
                        width: auto;
                        z-index: 10;
                        &.-r{//右
                            right: 6%;
                            @include mq(tb-pc1600){
                                right: 28%;
                            }
                            &::after{
                                position: absolute;
                                right: 0;
                                content: "";
                                width: 90px;
                                height: 131px;
                                background: url(../images/item/concept/story-arrow01.png);
                                background-repeat: no-repeat;
                                @include mq(sp){
                                    top: 67%;
                                    transform: scale(.7);
                                }
                                @include mq(tb){
                                    transform: scale(.7);
                                }
                                @include mq(tb-pc1000){
                                    transform: scale(1);
                                }
                            }
                        }
                        &.-l{//左
                            left: 10%;
                            @include mq(tb){
                                left: 20%;
                                transform: scale(.9);
                            }
                            @include mq(tb-pc1000){
                                left: 24%;
                            }
                            @include mq(tb-pc1600){
                                left: 24%;
                            }
                            &::after{
                                position: absolute;
                                right: 0;
                                content: "";
                                width: 90px;
                                height: 131px;
                                background: url(../images/item/concept/story-arrow01.png);
                                background-repeat: no-repeat;
                                @include mq(sp){
                                    top: 60%;
                                    transform: scale(.7);
                                }
                            }
                        }
                        &.-row1{
                            top: 11.5%;
                            @include mq(tb){
                                top: 5%;
                            }
                            @include mq(tb-pc1600){
                                top: 3.5%;
                            }
                        }
                        &.-row2{
                            top:14.85%;
                            @include mq(tb){
                                top: 9%;
                            }
                            @include mq(tb-pc1000){
                                top: 8%;
                            }
                            @include mq(tb-pc1600){
                                top: 6.5%;
                            }
                        }
                        &.-row3{
                            top: 22.6%;
                            @include mq(tb-pc600){
                                top: 17.3%;
                            }
                            @include mq(tb-pc1000){
                                top: 17.8%;
                            }
                            @include mq(tb-pc1600){
                                top:14.5%;
                            }
                        }
                        &.-row4{
                            top: 32.2%;
                            @include mq(tb){
                                top: 27.5%;
                            }
                            @include mq(tb-pc1000){
                                top: 30%;
                            }
                            @include mq(tb-pc1600){
                                top:24.6%;
                            }
                        }
                        &.-row5{
                            top: 41.5%;
                            @include mq(tb){
                                top: 37.5%;
                            }
                            @include mq(tb-pc1000){
                                top: 41%;
                            }
                            @include mq(tb-pc1600){
                                top:35.6%;
                            }
                        }
                    }
                    // さらに！
                    &.-sarani{
                        width: auto;
                        top: 47.5%;
                        right: 9%;
                        @include mq(tb){
                            top: 43.8%;
                            right: 4.5%;
                        }
                        @include mq(tb-pc1000){
                            top: 51%;
                            right: 14%;
                        }
                        @include mq(tb-pc1600){
                            top: 43.5%;
                            right: 14%;
                        }
                        @include mq(tb-pc1850){
                            top: 43.5%;
                            right: 25%;
                        }
                    }
                    &.-idea-content{
                        width: auto;
                        .contentsInner{
                            position: relative;
                            .title{
                                position: absolute;
                                top: -1%;
                                width: 45%;
                                z-index: 100;
                                &.-r{
                                    right: -17%;
                                }
                                &.-l{
                                    left: -17%;
                                }
                                .titleInner{
                                    position: relative;
                                    text-align: center;
                                    &::after{
                                        width: 100%;
                                        font-size: 1vw;
                                        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
                                        font-weight: 700;
                                        position: absolute;
                                        top: 42%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        @include mq(sp){
                                            font-size: 3vw;
                                        }
                                    }
                                    &.-p01{
                                        &::after{
                                            content: "自宅兼事務所";
                                        }
                                    }
                                    &.-p02{
                                        &::after{
                                            content: "家庭文庫";
                                        }
                                    }
                                    &.-p03{
                                        &::after{
                                            content: "ピアノ教室";
                                        }
                                    }
                                    &.-p04{
                                        &::after{
                                            content: "自宅兼アトリエ教室";
                                        }
                                    }
                                    &.-p05{
                                        &::after{
                                            content: "レンタルスタジオ";
                                        }
                                    }
                                    &.-p06{
                                        &::after{
                                            content: "レンタル倉庫";
                                        }
                                    }
                                    &.-p07{
                                        &::after{
                                            content: "ネイルサロン開業";
                                        }
                                    }
                                    &.-p08{
                                        &::after{
                                            content: "自宅兼美容室開業";
                                        }
                                    }
                                    &.-p09{
                                        &::after{
                                            content: "ホームシアター";
                                        }
                                    }
                                }
                            }
                        }
                        .pic{
                            width: 75vw;
                            @include mq(tb){
                                width: 40vw;
                            }
                            @include mq(tb-pc1000){
                                width: 33vw;
                            }
                            @include mq(tb-pc1600){
                                width: 30vw;
                            }
                            @include mq(tb-pc1850){
                                width: 32vw;
                            }
                        }
                        &.-r{//右
                            top: 3%;
                            right: 0%;
                            @include mq(tb-pc600){
                                right: 4%;
                            }
                            @include mq(tb-pc1600){
                                right: 14%;
                            }
                        }
                        &.-l{//左
                            top: 3%;
                            left: 0%;
                            @include mq(tb-pc600){
                                left: 5%;
                            }
                            @include mq(tb-pc1000){
                                left: 8%;
                            }
                            @include mq(tb-pc1600){
                                left: 13%;
                            }
                        }
                        &.-row1{
                            top: 49.6%;
                            @include mq(tb){
                                top: 46.2%;
                            }
                            @include mq(tb-pc1000){
                                top: 52%;
                            }
                            @include mq(tb-pc1600){
                                top: 45%;
                            }
                        }
                        &.-row2{
                            top: 51.8%;
                            @include mq(tb){
                                top: 48.2%;
                            }
                            @include mq(tb-pc1000){
                                top: 54.5%;
                            }
                            @include mq(tb-pc1600){
                                top: 47%;
                            }
                        }
                        &.-row3{
                            top: 53.9%;
                            @include mq(tb){
                                top: 50.3%;
                            }
                            @include mq(tb-pc1000){
                                top: 55.3%;
                            }
                            @include mq(tb-pc1600){
                                top: 49%;
                            }
                        }
                        &.-row4{
                            top: 56.15%;
                            @include mq(tb){
                                top: 52.5%;
                            }
                            @include mq(tb-pc1000){
                                top: 57.5%;
                            }
                            @include mq(tb-pc1600){
                                top: 51%;
                            }
                        }
                        &.-row5{
                            top: 58.3%;
                            @include mq(tb){
                                top: 54.4%;
                            }
                            @include mq(tb-pc1000){
                                top: 58.5%;
                            }
                            @include mq(tb-pc1600){
                                top: 53%;
                            }
                        }
                        &.-row6{
                            top: 60.5%;
                            @include mq(tb){
                                top: 56.3%;
                            }
                            @include mq(tb-pc1000){
                                top: 61%;
                            }
                            @include mq(tb-pc1600){
                                top: 55%;
                            }
                        }
                        &.-row7{
                            top: 62.6%;
                            @include mq(tb){
                                top: 58.7%;
                            }
                            @include mq(tb-pc1000){
                                top: 62%;
                            }
                            @include mq(tb-pc1600){
                                top: 57%;
                            }
                        }
                        &.-row8{
                            top: 64.7%;
                            @include mq(tb){
                                top: 60.9%;
                            }
                            @include mq(tb-pc1000){
                                top: 64%;
                            }
                            @include mq(tb-pc1600){
                                top: 59%;
                            }
                        }
                        &.-row9{
                            top: 66.8%;
                            @include mq(tb){
                                top: 63%;
                            }
                            @include mq(tb-pc1000){
                                top: 65.5%;
                            }
                            @include mq(tb-pc1600){
                                top: 61%;
                            }
                        }
                    }
                    // この先の社会の変化
                    &.-syakai{
                        width: auto;
                        top: 69.5%;
                        @include mq(sp){
                            width: 92%;
                            left: 50%;
                            transform: translateX(-50%);
                            // transform: scale(1.5) translateX(-33%);
                        }
                        @include mq(tb){
                            top: 65%;
                            right: 10.5%;
                        }
                        @include mq(tb-pc1000){
                            top: 47%;
                            right: 10%;
                        }
                        @include mq(tb-pc1600){
                            top: 63%;
                            right: 10%;
                        }
                        @include mq(tb-pc1850){
                            top: 63%;
                            right: 10%;
                        }
                    }

                    // 概念
                    &.-gainen{
                        width: 68%;
                        top: 71%;
                        left: 11.5%;
                        filter: drop-shadow(1px 1px 6px rgba(128, 128, 128, 0.274));
                        @include mq(tb){
                            top: 67%;
                            left: 10%;
                            width: 29vw;
                        }
                        @include mq(tb-pc1000){
                            top: 70.5%;
                            left: 15%;
                            width: 24vw;
                        }
                        @include mq(tb-pc1600){
                            top: 66%;
                            left: 15%;
                            width: auto;
                        }
                        @include mq(tb-pc1850){
                            top: 66%;
                            left: 15%;
                        }
                    }
                    &.-gainen-text{
                        top: 50%;
                        left: 50%;
                        transform: scale(.9) translate(-50%, -50%);
                    }
                    &.-gainen-pic{
                        width: auto;
                        top: 73.5%;
                        right: 5.5%;
                        @include mq(tb){
                            top: 67.4%;
                            right: 10%;
                            width: 50vw;
                        }
                        @include mq(tb-pc1000){
                            top: 69.4%;
                        }
                        @include mq(tb-pc1600){
                            top: 67%;
                            right: 10%;
                        }
                        @include mq(tb-pc1850){
                            top: 67%;
                            right: 10%;
                        }
                    }

                    // カード01
                    &.-c-concept{
                        width: 90%;
                        height: auto;
                        background: white;
                        box-shadow: 2px 2px 8px #80808066;

                        // filter: drop-shadow(1px 1px 5px rgba(161, 161, 161, 0.466));
                        border: 1px solid #00000036;
                        @include mq(tb-pc1000){
                            width: 59%;
                        }
                        @include mq(tb-sp){
                            left: 50%;
                            transform: scale(0.85) translateX(-59%);
                        }
                        @include mq(sp){
                            transform: translateX(-50%);
                        }
                        &.-c01{
                            top: 79.5%;
                            @include mq(tb){
                                top: 77.5%;
                            }
                            @include mq(tb-pc1000){
                                left: 33%;
                            }
                            @include mq(tb-pc1850){
                                top: 77%;
                                left: 33%;
                            }
                        }
                        &.-c02{
                            top: 85.3%;
                            @include mq(tb){
                                top: 84.7%;
                            }
                            @include mq(tb-pc1000){
                                top: 83.75%;
                                left: 14%;
                                width: 63%;
                            }
                            @include mq(tb-pc1850){
                                top: 82.5%;
                                left: 14%;
                                width: 59%;
                            }
                        }
                        &.-c03{
                            top: 91.1%;
                            @include mq(tb){
                                top: 92%;
                            }
                            @include mq(tb-pc1000){
                                top: 90%;
                                left: 33%;
                            }
                            @include mq(tb-pc1850){
                                top: 88%;
                                left: 33%;
                            }
                        }
                        .card-inner{
                            position: relative;
                            padding: 3%;
                            .iconBox{
                                position: absolute;
                                top: -6%;
                                right: -1%;
                                width: 30%;
                                filter: drop-shadow(1px 2px 5px rgba(128, 128, 128, 0.377));
                                @include mq(tb){
                                    top: -18%;
                                    width: 25%;
                                }
                                @include mq(tb-pc1000){
                                    width: 25%;
                                }


                                &.-icon01{

                                }
                                &.-icon02{

                                }
                                &.-icon03{

                                }
                            }
                            .card-link{
                                position: absolute;
                                bottom: 2%;
                                left: 77%;
                                transform: translateX(-50%);
                                width: 40%;
                                &.-link02{
                                    left: 76%;
                                    transform: translateX(-50%);
                                    width: 42%;
                                }
                            }
                        }
                    }
                    &.-top-card{
                        &.-banner{
                            top: 97.9%;
                            left: 50%;
                            transform: translateX(-50%);
                            width: auto;
                            @include mq(tb){
                                top: 100%;
                            }
                            @include mq(tb-pc600){
                                top: 99%;
                            }
                            @include mq(tb-pc800){
                                top: 98.5%;
                            }

                            @include mq(tb-pc1000){
                                top: 96.5%;
                            }
                        }
			        }
                }
            }

        }
    }
}