
.p-access,
.p-project{
    width: 100%;
    main{
        @include mq(tb-sp){
            margin-bottom: 0;
        }
        @include mq(sp){
            padding-bottom: 3vh;
        }
    }
    .mg--60{
        margin-top: -65px;
        @include mq(tb-pc1000){
            margin-top: -60px;
        }
    }
    .mg-t{
        @include mq(sp){
            margin-top: 7vh;
        }
    }
    .l-container{//main
        .l-contents{
            &.-researchArea{
                margin: auto;
                @include mq(tb){
                    width: 69vw;
                }
                @include mq(tb-pc1000){
                    width: 69vw;
                }
            }
            &.-bannerArea{
                margin: auto;
                @include mq(tb){
                    width: 69vw;
                }
                @include mq(tb-pc1000){
                    width: 69vw;
                }
            }
            &.-img-bg{// 背景画像＋コンテンツ
                .imgBox{}
                .l-contentsBox{// コンテンツ要素
                    width: 100%;
                    position: absolute;
                    // header
                    &.-project-header{
                        top: 54.5%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        width: 100%;
                        height: 100%;
                        @include mq(tb){
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                        }
                    }
                    //追加0528
                    &.-project-scroll{
                        top: 50%;
                        left: 50%;
                        transform: translateY(-50%);
                    }
                    &.-project-01{
                        top: 6.5%;
                        left: 18.5%;
                        width: 35%;
                        transform: translate(-50%, -50%);
                        @include mq(tb){
                            top: 8%;
                            left: 24.5%;
                            width: 13%;
                            // max-width: 300px;
                        }
                        @include mq(tb-pc1000){
                            
                        }
                        &_left{
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 73%;
                        }
                    }
                    &.-project-02{
                        top: 25.5%;
                        left: 39.5%;
                        width: 75%;
                        transform: translate(-50%, -50%);
                        @include mq(tb){
                            top: 29%;
                            left: 30.5%;
                            width: 25%;
                        }
                        @include mq(tb-pc1000){
                        }
                        &_left{
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 98%;
                        }
                    }
                    &.-project-03{
                        top: 41%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 5%;
                        @include mq(tb){
                            width: 1%;
                            top: 28%;
                        }
                    }
                    &.-project-04{
                        top: 45.5%;
                        left: 82.5%;
                        width: 35%;
                        transform: translate(-50%, -50%);
                        @include mq(tb){
                            top: 8%;
                            left: 75.8%;
                            width: 13%;
                        }
                        @include mq(tb-pc1000){
                        }
                        &_right{
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 75%;
                        }
                    }
                    &.-project-05{
                        top: 63.5%;
                        left: 62.5%;
                        width: 75%;
                        transform: translate(-50%, -50%);
                        @include mq(tb){
                            top: 29%;
                            left: 70%;
                            width: 25%;
                        }
                        @include mq(tb-pc1000){
                        }
                        &_right{
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 98%;
                        }
                    }
                    &.-project-06{
                        top: 64%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 5%;
                        @include mq(tb){
                            width: 2%;
                            top: 47%;
                        }
                    }
                    &.-project-07{
                        top: 79%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        @include mq(tb){
                            width: 95%;
                            top: 67%;
                        }
                    }
                    // コンテンツ02
                    &.-project02-01{
                        top: 4.8%;
                        left: 84.5%;
                        transform: translate(-50%,-50%);
                        width: 16%;
                        height: auto;
                        @include mq(tb){
                            top: 4.5%;
                            left: 77%;
                            width: 6%;
                        }
                    }
                    &.-project-card{
                        @include mq(sp){
                            left: 50%;
                            width: 90%;
                            transform: translate(-50%, -50%);
                        }
                        @include mq(tb){
                            width: 65vw;
                            background: white;
                            box-shadow: 2px 2px 8px #80808066;
                            border: 1px solid #00000036;
                        }
                        @include mq(tb-pc1000){
                            width: 52vw;
                            transform: scale(.8) translate(-50%, -50%);
                        }
                        @include mq(tb-pc1200){
                            width: 55vw;
                        }
                        @include mq(tb-pc1600){
                            width: 50vw;
                        }
                        .card-inner{
                            padding: 2vh 1.5vw;
                        }
                        &.-r{

                            @include mq(tb-sp){
                                left: 52%;
                                right: auto !important;
                                transform: scale(.8) translateX(-50%);
                            }
                            @include mq(sp){
                                left: 50% !important;
                                transform: translateX(-50%) !important;
                            }
                            @include mq(tb){
                                right: -13%;
                            }
                            @include mq(tb-pc1000){
                                right: -13%;
                            }
                            @include mq(tb-pc1200){
                                right: -10%;
                            }
                        }
                        &.-l{
                            @include mq(tb-sp){
                                left: 40% !important;
                                transform: scale(.8) translateX(-50%);
                            }
                            @include mq(sp){
                                left: 50% !important;
                                transform: translateX(-50%) !important;
                            }
                            @include mq(tb){
                                left: 36%;
                            }
                            @include mq(tb-pc1000){
                                left: 36%;
                            }
                            @include mq(tb-pc1200){
                                left: 35%;
                            }
                        }
                    }
                    &.-project02-cardItem01{
                        @include mq(sp){
                            top: 15.1% !important;
                        }
                        @include mq(tb-sp){
                            top: 8%;
                        }
                        @include mq(tb-pc750) {
                            top: 6%;
                        }
                        @include mq(tb-pc1000){
                            top: 18%;
                        }
                        @include mq(tb-pc1600){
                            top: 18%;
                        }
                        @include mq(tb-pc1850){
                            top: 18%;
                        }

                    }
                    &.-project02-cardItem02{
                        @include mq(sp){
                            top: 35.1% !important;
                        }
                        @include mq(tb-sp){
                            top: 31%;
                        }
                        @include mq(tb-pc750) {
                            top: 29.5%;
                        }
                        @include mq(tb-pc1000){
                            top: 40%;
                        }
                        @include mq(tb-pc1600){
                            top: 40%;
                        }
                        @include mq(tb-pc1850){
                            top: 40%;
                        }
                    }
                    &.-project02-cardItem03{
                        @include mq(sp){
                            top: 56.1% !important;
                        }
                        @include mq(tb-sp){
                            top: 55%;
                        }
                        @include mq(tb-pc750){
                            top: 52.5%;
                        }
                        @include mq(tb-pc800){
                            top: 51.5%;
                        }
                        @include mq(tb-pc1000){
                            top: 61%;
                        }
                        @include mq(tb-pc1600){
                            top: 61%;
                        }
                        @include mq(tb-pc1850){
                            top: 61%;
                        }
                    }
                    &.-project02-cardItem04{
                        @include mq(sp){
                            top: 77.1% !important;
                        }
                        @include mq(tb-sp){
                            top: 78%;
                        }
                        @include mq(tb-pc800){
                            top: 77.3%;
                        }
                        @include mq(tb-pc1000){
                            top: 84%;
                        }
                        @include mq(tb-pc1600){
                            top: 84%;
                        }
                        @include mq(tb-pc1850){
                            top: 84%;
                        }
                    }
                    &.-project03-01{
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    &.-project-slider{
                        top: 16.5%;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 100%;
                        height: 100%;
                        @include mq(tb){
                            top: 11%;
                            width: 45vw;
                        }
                        @include mq(pc){
                            top: 10%;
                            width: 60vw;
                        }
                        .project-slider{
                            a{
                                transition: 0.5s all;
                                &:hover{
                                    .l-slider-btnArea{
                                        background: $card-btn_hover;
                                        .read{
                                            &::after{
                                                right: 6.5%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.-project-08{
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    &.-project-08-btn{//細嶋さん準備
                        top: 63%;
                        left: 28%;
                        width: 65vw;
                        @include mq(tb){
                            top: 30%;
                            left: 58%;
                            width: 24vw;
                        }
                        @include mq(tb-pc1000){
                            top: 35%;
                            left: 60%;
                            width: 21vw;
                        }
                        .project-btn{
                            img{
                                transition: all .5s;
                                @include mq(sp){
                                    filter: drop-shadow(1px 1px 5px rgb(201, 201, 201));
                                }
                            }
                            &:hover{
                                @include mq(tb){
                                    img{
                                        transform: scale(1.1);
                                        filter: drop-shadow(1px 1px 5px rgb(201, 201, 201));
                                    }
                                }
                            }
                        }
                    }
                    &.-project-10{
                        top: 30%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: auto;
                    }
                    &.-project-11{
                        top: 74%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: auto;
                    }
                }
            }
        }
    }
}