
.p-top{
    width: 100%;

    background-image: url(../images/bg/top/top-page-bg_s.png);
    background-size: cover;
    background-repeat: no-repeat;
    @include mq(sp){
        background-size: 105%;
    }
    @include mq(tb){
        background-image: url(../images/bg/top/top-page-bg.png);
    }

    main{
        margin-bottom: 0;
        padding-bottom: 30vh;
        @include mq(tb){
            padding-bottom: 70vh;
        }
        @include mq(tb-pc600){
            padding-bottom: 82vh;
        }
        @include mq(tb-pc1000){
            padding-bottom: 70vh;
        }
    }

    .l-container{//main
        .l-contents{
            &.-img-bg{// 背景画像＋コンテンツ
                .imgBox{

                }
                .l-contentsBox{// コンテンツ要素
                    width: 100%;
                    position: absolute;
                    &.-top-header{
                        top: 61%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        @include mq(tb){
                            top: 73%;
                        }
                        @include mq(tb-pc600){
                            top: 75%;
                        }
                        @include mq(tb-pc700){
                            top: 77%;
                        }
                        @include mq(tb-pc800){
                            top: 72%;
                        }
                        @include mq(tb-pc1000){
                            top: 71%;
                        }
                        @include mq(tb-pc1100){
                            top: 68%;
                        }
                        @include mq(tb-pc1200){
                            top: 66%;
                        }
                        @include mq(tb-pc1600){
                            top: 66%;
                        }
                        .subTitle{
                            @include mq(tb){
                                width: 42%;
                            }
                            @include mq(tb-pc600){
                                width: 42.5%;
                            }
                            @include mq(tb-pc700){
                                width: 41%;
                            }
                            @include mq(tb-pc800){
                                width: 37%;
                            }
                            @include mq(tb-pc1000){
                                width: 36%;
                            }
                            @include mq(tb-pc1100){
                                width: 32.5%;
                            }
                            @include mq(tb-pc1200){
                                width: 31.5%;
                            }
                            @include mq(tb-pc1600){
                                width: 31.5%;
                            }
                        }
                    }
                    &.-top-yoyaku{
                        top: 45%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        // width: 200px;
                    }
                    // 追加
                    &.-top-content-train{
                        top: 6%;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 80%;
                        @include mq(tb){
                            top: 15%;
                        }
                        @include mq(tb-pc1000){
                            top: 0%;
                        }
                    }
                    &.-top-content-text{
                        text-align: center;

                        top: 27%;
                        left: 50%;
                        transform: translateX(-50%);
                        @include mq(tb){
                            width: auto;
                            top: 43%;
                        }
                        @include mq(tb-pc1000){
                            top: 39%;
                        }
                    }
                    &.-top-contents-btnArea{
                        top: 73%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        @include mq(tb){
                            top: 86%;
                            // top: 73%;
                        }
                        @include mq(tb-pc1000){
                            top: 70%;
                        }
                    }
                    // バルーン
                    &.-top-content01{
                        top: 4%;
                        left: 30%;
                        transform: translate(-50%, -50%);
                        width: 35vw;
                        z-index: 99;
                        @include mq(tb){
                            top: 6%;
                            left: 20%;
                            width: 20vw;
                        }
                        @include mq(tb-pc800){
                            // top: 3%;
                        }
                        @include mq(tb-pc1100){
                            top: 2%;
                            left: 20%;
                            width: 18vw;
                        }
                        @include mq(tb-pc1400){
                            left: 11%;
                            width: 14vw;
                        }
                    }
                    // X軸スクロールアイテム
                    &.-X-scroll-box{
                        top: 3%;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 100%;
                        .scroll-box{
                            overflow-x: auto;
                            padding-bottom: 10px;
                            -webkit-overflow-scrolling: touch;
                            img{
                                max-width: 100%;
                                min-width: 1100px;
                                vertical-align: top;
                            }
                        }
                    }
                    // 完成街並予想図
                    &.-top-content02{
                        top: 15.6%;
                        padding-right: 15px;

                        @include mq(tb){
                            top: 33%;
                        }
                        @include mq(tb-pc700){
                            top: 29.2%;
                        }
                        @include mq(tb-pc800){
                            top: 25%;
                        }
                        @include mq(tb-pc1000){
                            top: 21%;
                        }
                        @include mq(tb-pc1200){
                            top: 18.5%;
                        }
                        @include mq(tb-pc1400){
                            top: 17.5%;
                        }
                        @include mq(tb-pc1600){
                            top: 17.2%;
                        }
                    }
                    // 人生100年時代の住まい。
                    &.-top-content03{
                        transform: translateX(-50%);
                        display: inline-block;
                        width: 95%;
                        @include mq(tb-sp){
                            top: 32%;
                            left: 9%;
                            transform: inherit;
                            width: 75%;
                        }
                        @include mq(sp){
                            top: 17.5%;
                            left: 6%;
                            width: 90%;
                        }
                        @include mq(tb-pc700){
                            top: 31%;
                            left: 8%;
                        }
                        @include mq(tb-pc800){
                            top: 31%;
                            left: 8%;
                            transform: inherit;
                        }
                        @include mq(tb-pc1000){
                            top: 24%;
                            left: 8%;
                            transform: inherit;
                        }
                        @include mq(tb-pc1100){
                            top: 26%;
                        }
                        @include mq(tb-pc1200){
                            top: 21.5%;
                            left: 9%;
                        }
                        @include mq(tb-pc1600){
                        }
                    }
                    // カードレイアウト_基本
                    &.-top-card{
                        display: inline-block;
                        width: auto;

                        &.-item01{
                            top: 31%;
                            @include mq(tb){
                                top: 60%;
                            }
                            @include mq(tb-pc600){
                                top: 52%;
                            }
                            @include mq(tb-pc1000){
                                top: 40%;
                            }
                            @include mq(tb-pc1100){
                                top: 45%;
                            }
                            @include mq(tb-pc1200){
                                top: 38%;
                            }
                        }
                        &.-item02{
                            top: 45%;
                            @include mq(tb){
                                top: 60%;
                            }
                            @include mq(tb-pc600){
                                top: 52%;
                            }
                            @include mq(tb-pc1000){
                                top: 50%;
                            }
                            @include mq(tb-pc1100){
                                top: 51%;
                            }
                            @include mq(tb-pc1200){
                                top: 47%;
                            }
                        }
                        &.-item03{
                            top: 60%;
                            @include mq(tb){
                                top: 90%;
                            }
                            @include mq(tb-pc600){
                                top: 78%;
                            }
                            @include mq(tb-pc1000){
                                top: 58%;

                            }
                        }
                        &.-item04{
                            top: 75.5%;
                            @include mq(tb){
                                top: 90%;
                            }
                            @include mq(tb-pc600){
                                top: 78%;
                            }
                            @include mq(tb-pc1000){
                                top: 70%;
                            }
                            @include mq(tb-pc1100){
                                top: 68%;
                            }
                            @include mq(tb-pc1200){
                                top: 70%;
                            }
                        }
                    }
                    // カードレイアウト_右
                    &.-top-card_r{
                        left: 55%;
                        transform: scale(.9) translateX(-50%);
                        @include mq(tb){
                            left: 71%;
                        }
                        @include mq(tb-pc1000){
                            left: 74%;
                            transform: translateX(-50%);
                        }
                    }
                    // カードレイアウト_左
                    &.-top-card_l{
                        left: 37%;
                        transform: scale(.9) translateX(-50%);
                        @include mq(tb){
                            left: 25%;
                        }
                        @include mq(tb-pc1000){
                            left: 27%;
                            transform: translateX(-50%);
                        }
                    }
                    // カードレイアウト_基本
                    &.-top-card{
                        &.-banner{
                            top: 90.5%;
                            @include mq(tb-pc1000){
                                top: 84%;
                            }
                        }
			        }
                }
            }
            &.-yoyaku{
                @include mq(sp){
                    width: 100%;
                }
                @include mq(tb){
                    width: 28vw;
                }
                @include mq(tb-pc1000){
                    width: 35vw;
                }
                @include mq(tb-pc1000){
                    width: 25vw;
                }
                @include mq(tb-pc1600){
                    width: 20vw;
                }
            }
        }
    }
}