// フォントカラー
$main-color--b: #333333;
$main-color--w: #ffffff;
$main-color--gray: #d8d8d8e6;
$main-color--tel: #df2323;
$main-color--textShadow-start: #7488a31e;
$main-color--textShadow-end: #7488a349;



// 背景カラー
$main-color-bg: #ffffff;
$contactBtn-color--bg: #90A83D;
$item-hover--bg:#9e9a9a;
$item-hover--bg-b:#4d4d4de6;
$modal-bg:#1e1e1ee6;
$modal-close--bg:#c9c8c8;
$contact-hover--bg: #e3d8c434;
// $plan-color-bg: #;

// ボーダーカラー
$border-color--b: #333333;
$item-hover--b:#dfdddd94;


// その他
$yellow-b: #ffd40099;
$pink-t: #E76179;
$contact-item-1: #000000;
$contact-item-2: #4D4D4D;
$contact-item-3: #989898;
$contact-item-4: #DCDDDD;
$swiper-active: #CEBB74;

$text-red: #E9558F;
$text-blue: #25B7BE;
$text-green: #C7DA8A;
$text-pink: #F3BDC9;

$card-btn: #CBC8B4;
$card-btn_hover: #bbb696;
$plan-item-bg: #EE7A00;
$access-blue: #25B7BE;
$access-yellow: #DEA200;
$access-red: #E9558F;
$access-gray: #9FA0A0;

// Header関係
$header-nav-hover: #B3B95A;


$header-leftBox: #054993;
$header-leftBox-hover: #054a93de;
$header-rightBox: #D41619;
$header-rightBox-hover: #d41619d3;